.window_boundingBox{position: fixed; border: 1px solid #000;width: 500px; height: 300px;left: 50%; /*margin-left: -250px; 会导致不居中*/ top: 100px; box-shadow: 0 0 12px rgba(0,0,0,.5);}
.window_boundingBox input{width: 100px; position: absolute; bottom: 10px; left: 50%; margin-left: -50px;}
.window_header{background: #333; color: #fff; text-align: center; padding: 5px; font-size: 20px;}
.window_body{padding: 10px;}