.window_boundingBox {
    position: fixed;
    border: 1px solid #000;
    box-shadow: 0 0 12px rgba(0, 0, 0, .5);
    background: #fff;
}
.window_mask {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .3;
    position: absolute;
    left: 0;
    top: 0;
}
.window_alertBtn {
    width: 100px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -50px;
}
.window_header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 20px;
}
.window_body {
    padding: 10px;
}
.window_closeBtn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px;
    font-size: 20px;
    background: blue;
    color: #fff;
    cursor: pointer;
}
.move {
    cursor: move;
}
.window_footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
}
.window_cancelBtn {
    margin-left: 20px;
}
.window_promptInputWrapper {
    text-align: center;
}


/* skin for a */
 .window_skin_a.window_boundingBox {
    box-shadow: none;
    border: 10px solid rgba(0, 0, 0, .3);
    border-radius: 8px;
}
.window_skin_a .window_alertBtn {
    width: 50px;
    left: auto;
    right: 20px;
    margin-left: 0;
    background: red;
    border: none;
    color: #fff;
    padding: 10px;
}
.window_skin_a .window_header {
    background: red;
    text-align: left;
    padding: 10px;
    font-weight: bold;
}
.window_skin_a .window_closeBtn {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    line-height: 45px;
    padding: 0;
    text-align: center;
    background: blue;
    font-size: 24px;
    font-weight: bold;
    right: -15px;
    top: -15px;
}